h1 {
    font-style: italic;
    padding-top: 10px;
}

body {

    background-color: rgb(182, 226, 238);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
}

.title {
font-weight: bold;

}

#theend {
    color:rgb(17, 126, 106)
}

div {
    border: 10px solid black;
    padding: 50px;  
    margin: 80px;
}

p {
    font-size: 45px;
}
