
body {
    background-color: rgb(0, 0, 0);
}
div {
    background-color: rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px;
    width: 150px;
    margin-bottom: 50px;
    border-color: rgb(4, 0, 255);
    border-width: thick;
}

.text2{
    background-color: black;
}

.bottomDiv{
  background-color: black;
    position: relative;
    top: -30px;
    left: 150px;
}

.flex-container {
    display: flex;
    background-color: rgb(16, 20, 232);
  }
  
  .flex-container > div {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }