
body {
    background-color: rgb(248, 248, 248);
}
div {
    background-color: rgb(248, 248, 248);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    width: 150px;
    margin-bottom: 50px;
    border-color: black;
    border-width: thick;
}


.bottomDiv{
    position: relative;
    top: -30px;
    left: 150px;
}