
body {
    background-color: rgb(0, 0, 0);
}
div {
    background-color: rgb(255, 255, 255);
    font-family:'Trebuchet MS';
    padding: 50px;
    width: 150px;
    margin-bottom: 50px;
    border-color: rgb(4, 0, 255);
    border-width: thick;
}


.bottomDiv{
    position: relative;
    top: -30px;
    left: 150px;
}