

div {
    background-color: lemonchiffon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    width: 150px;
    margin-bottom: 50px;
}